<ion-view title="Calendar">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-plus-round" ng-click="addCalendarEvent()"></button>
    </ion-nav-buttons>
    <ion-content class="overflow-scroll">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="getAllCalendarEvents()">
        </ion-refresher>
        <ion-list can-swipe="true" style="margin-bottom: 0px;" ng-if="calendarEvents.length > 0">
            <ion-item class="item-text-wrap" ng-repeat="event in calendarEvents | orderBy: 'EventStartDate'" ng-if="canShow(event)">
                <h2>{{event.EventName}}</h2>
                <p style="color: #387ef5 !important;" ng-if="isOneDayEvent(event)"><b><i class="icon ion-calendar"></i>&nbsp;&nbsp;{{event.EventStartDate | date: 'dd/MMM/yyyy'}}</b></p>
                <p style="color: #387ef5 !important;" ng-if="!isOneDayEvent(event)"><b><i class="icon ion-calendar"></i>&nbsp;&nbsp;{{event.EventStartDate | date: 'dd/MMM/yyyy'}}&nbsp;-&nbsp;{{event.EventEndDate | date: 'dd/MMM/yyyy'}}</b></p>
                <ion-option-button class="button-assertive" ng-click="delete(event)">
                    <i class="icon ion-trash-b" style="margin: auto"></i>
                </ion-option-button>
            </ion-item>
        </ion-list>
        <div class="row no-padding" ng-if="calendarEvents.length == 0">
            <img class="empty_list_img" src="app/images/calendar.svg" alt="no image selected" />
            <div class="col no-padding text-center empty_list_text">
                No events have been created yet!
            </div>
        </div>
    </ion-content>
</ion-view>